.avatar {
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .noImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--border);
    width: 100%;
  }
}

.size22 {
  max-width: 22px;
  max-height: 22px;
  min-width: 22px;
  min-height: 22px;
  height: 22px;
  .noImage {
    width: inherit;
    height: inherit;
  }
}

.size32 {
  max-width: 32px;
  max-height: 32px;
  min-width: 32px;
  min-height: 32px;
  height: 32px;
  .noImage {
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
    height: 32px;
  }
}

.size56 {
  max-width: 56px;
  max-height: 56px;
  min-width: 56px;
  min-height: 56px;
  height: 56px;
  .noImage {
    max-width: 56px;
    max-height: 56px;
    min-width: 56px;
    min-height: 56px;
    height: 56px;
  }
}

.size150 {
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  height: 150px;
  .noImage {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    height: 150px;
  }
}

.default {
}

.stories {
  border: 2px solid #f1794a;
}
