.app_dark {
  --main-color: #080808;
  --inverted-main-color: #fafafa;

  // --border: #dbdbdb;
  --border: #bdbdbd; // необходимо изменить #dbdbdb

  --text-color: #737373;

  --blue_500: #4cb5f9;
}
