.app_light {
  --main-color: #fafafa;
  --inverted-main-color: #080808;
  // --border: #dbdbdb;

  --border: #bdbdbd; // необходимо изменить на #dbdbdb

  --text-color: #737373;

  --blue_500: #4cb5f9;
}
