.edit {
  width: 400px;

  .avatar {
    border-radius: 100%;
    cursor: pointer;
    position: relative;

    input {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
      z-index: 10;
    }

    &:hover::after {
      opacity: 1;
      background: #ffffff6e;
    }
  }
}
