.field {
  position: relative;
  width: 100%;

  &.fieldError {
    input {
      border: 1px solid var(--red_200);
      background: transparent;
      color: var(--red_200);

      &::placeholder {
        color: var(--red_200);
      }
      &:focus {
        border: 1px solid var(--red_200);
      }
    }
  }

  input {
    border-radius: 3px;
    border: 1px solid var(--gray-border);
    background: var(--theme-color);
    width: 100%;
    padding: 9px 7px;
    transition: all 0.2s;

    &:focus {
      background: transparent;
      border: 1px solid var(--inverted-gray-color);
    }
    &::placeholder {
    }
  }

  .showPass {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--gray-color);
    &:hover {
      color: var(--inverted-theme-color);
    }
  }
  .error {
    position: absolute;
    bottom: -16px;
    color: #fd8a8a;
  }
}
