.avatar {
  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }

  &.size56 {
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
    height: 56px;
  }

  &.size32 {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    height: 32px;
  }

  &.story {
    padding: 2px;
    border: 2px solid #ef3b74;
  }
}
