.btn {
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;

  &.default {
    background: transparent;
    color: var(--blue_500);
  }

  &.solid {
    background: var(--blue_500);
    padding: 9px;
    border-radius: 5px;
    color: var(--theme-color-light);
  }

  &.gray {
    background: transparent;
    padding: 9px;
    border-radius: 5px;
    color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--gray-border);
    &:hover {
      border: 1px solid var(--gray-color);
      color: var(--inverted-theme-color);
    }
  }

  &.max {
    width: 100%;
  }

  &:disabled {
    pointer-events: none;
    background: #0094f652;
  }
}
