.app_dark {
  --theme-color: #080808;
  --theme-color-light: #272727;
  --inverted-theme-color: #fafafa;
  --inverted-gray-color: #8e8e8e;
  --gray-border: #3b3b3b;

  --blue_500: #0095f6;

  --red_200: #fd8a8a;

  --border_gray: #272727;
}
