.app_light {
  --theme-color: #fafafa;
  --theme-color-light: #fff;
  --inverted-theme-color: #080808;
  --inverted-gray-color: #8e8e8e;
  --gray-color: #737373;
  --gray-border: #dbdbdb;

  --red_200: #fd8a8a;

  --blue_500: #0095f6;

  --border_gray: #dbdbdb;
}
