.size24 {
  font-size: 24px;
  line-height: 32px;
}

.size16 {
  font-size: 16px;
  line-height: 24px;
}

.size14 {
  font-size: 14px;
  line-height: 20px;
}

.size12 {
  font-size: 12px;
  line-height: 20px;
}

.fw800 {
  font-weight: 800;
}
.fw700 {
  font-weight: 700;
}
.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}
.fw400 {
  font-weight: 400;
}

.solid {
  color: var(--gray-color);
}

.default {
  color: var(--inverted-theme-color);
}

.blue {
  color: var(--blue_500);
}
